.go-back-button {
  position: fixed;
  top: 10px;
  right: 20px;
}

.blog-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 1rem;
}

.blog-container {
  width: 800px;
  /* border: 2px solid black; */
}

@media screen and (max-width: 768px) {
  .blog-container {
    width: 350px !important;
  }
}

.blog-content {
  text-align: justify;
  margin: 1rem 0;
}

.blog-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-image img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.blog-image video {
  width: 500px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .blog-image img {
    width: 300px !important;
  }

  .blog-image video {
    width: 300px !important;
  }
}
